.linear-gradient-box {
  width: 400px;
  height: 400px;
  margin: 40px auto;
  border: 10px solid black;
  background: 
    /* linear-gradient(to right, rgba(0, 0, 255, 0.5), rgba(0, 145, 255, 0.5)), */
    linear-gradient(to bottom, rgba(0, 255, 0, 0.5), rgba(144, 247, 144, 0.5), black);
}