.animated-box {
  width: 400px;
  height: 400px;
  border: 4px solid black;
  border-color: black;
  animation: 5s linear infinite crazy-background;
}

.animated-box-absolute {
  position: absolute;
  animation: none;
}

@keyframes crazy-background {
  /* 0s */
  0% {
    background-color: white;
    border-color: black;
  }

  /* ~1s */
  20% {
    background-color: blue;
  }

  50% {
    background-color: transparent;
    border-color: transparent;
  }

  /* ~2s */
  70% {
    background-color: green;
  }

  /* 3s */
  100% {
    background-color: white;
  }
}